// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background: #333;
    color: #fff;
    z-index: 100;

    a {
        color: #fff
    }
}